*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-display: 'Black Han Sans', sans-serif;
  --font-body: 'Noto Sans KR', sans-serif;
  --color-primary: #ea5406;
  --color-navy: #02215c;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  background: #02215c;
  color: white;
}

#root {
  min-height: 100vh;
}
